.mixin.out
assets
astralsorcery
backups
crash-reports
fonts
journeymap
logs
mods
local
resourcepacks
saves
screenshots
tmp
valkyrielib
BotaniaVars.dat
crafttweaker.log
ExtraBotanyVars.dat
patchouli_data.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
hs_err*.log
options.txt
config/brandon3055/ProjectIntelligence/
config/thaumicjei_itemstack_aspects.json
config/enderio/recipes/*.pdf
config/AppliedEnergistics2/items.csv
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/codechicken/supporters.marker
config/journeymap_ModInfo.cfg
block.csv
screenshots_20220101.zip
.gitignore