.mixin.out
assets
astralsorcery
backups
crash-reports
fonts
journeymap
logs
mods
resourcepacks
saves
screenshots
tmp
valkyrielib
BotaniaVars.dat
crafttweaker.log
ExtraBotanyVars.dat
patchouli_data.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
