# Configuration file

~CONFIG_VERSION: 0.1.0

world-1647119814 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@act
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@blood
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1690200562 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bed
    B:overlayEnabled=true
}


world3556498 {
    # GUIの隣にブックマークリストを表示します。
    B:bookmarkOverlayEnabled=true

    # レシピを見せるのではなくアイテムを与えます。
    B:cheatItemsEnabled=true

    # クリックでアイテムリストでの要素の表示/非表示を切り替えられます。
    B:editEnabled=false
    S:filterText=ghas

    # GUIの隣にアイテムリストを表示します。
    B:overlayEnabled=true
}


