# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
     >
    S:"Mod Aliases" <
        nautralpledge=botania
        incorporeal=botania
        thermalexpansion=thermalfoundation
        thermaldynamics=thermalfoundation
        thermalcultivation=thermalfoundation
        redstonearsenal=thermalfoundation
        rftoolsdim=rftools
        ae2stuff=appliedenergistics2
        animus=bloodmagic
        integrateddynamics=integratedtunnels
        mekanismgenerators=mekanism
        mekanismtools=mekanism
     >
    S:"Whitelisted Items" <
        roots:runedtablet
        immersiveengineering:tool:3
        integrateddynamics:on_the_dynamics_of_integration
        evilcraft:origins_of_darkness
        draconicevolution:info_tablet
		forestry:book_forester
		extrautils2:book
		actuallyadditions:item_booklet
		tconstruct:book
		wizardry:book
     >
    S:"Whitelisted Names" <
        lexicon
        nomicon
        manual
        pedia
        compendium
        guide
        codex
        journal
     >
}


